.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  grid-template-areas: "header" "nav" "main";
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }
}

header {
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  align-items: center;
}
header section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  header section {
    margin-left: 750px;
  }
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
  padding: 12px;
}

main {
  grid-area: main;
  background-color: #fff;
  display: grid;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: 50%;
  }
}

.dashboard {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
}
.dashboard-header {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .dashboard {
    width: 95vw;
    grid-column: 1/span 2;
  }
}

.widget-container {
  width: 95vw;
}
@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

.traffic {
  background-color: #fff;
}
@media (min-width: 768px) {
  .traffic {
    grid-column: 1/span 2;
  }
}

.bar {
  background-color: #fff;
}
@media (min-width: 768px) {
  .bar {
    grid-column: 1/span 1;
  }
}

.donut {
  background-color: #fff;
}
@media (min-width: 768px) {
  .donut {
    grid-column: 2/span 1;
  }
}

.social {
  background-color: #fff;
}
@media (min-width: 768px) {
  .social {
    grid-column: 1/span 2;
    display: flex;
  }
}

@media (min-width: 768px) {
  .members {
    grid-column: 1/span 1;
  }
}

@media (min-width: 768px) {
  .activity {
    grid-column: 2/span 1;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .message {
    grid-column: 1/span 1;
    margin: 0 20px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .settings {
    grid-column: 2/span 1;
  }
}

.main-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 30px;
}

.members-container, .activity-container {
  padding-left: 20px;
}
.members-container img, .activity-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  float: left;
}

#bell {
  margin-left: 120px;
}
#bell .line {
  fill: #fff;
}

#dashboard, #members, #bell, #visits, #settings, #twitter, #google {
  height: 25px;
  width: 25px;
}

.vertical-line {
  height: 30px;
  border-left: 1px solid #505050;
  margin: 0 20px;
}

#search {
  padding: 10px;
  width: 58%;
  margin-top: 5px;
  border: 0.5px solid silver;
  border-radius: 5px;
  margin-left: 100px;
}
@media (min-width: 768px) {
  #search {
    margin-left: 400px;
  }
}

.search-bar {
  height: 100%;
  width: 80%;
  background-color: #ececec;
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
@media (min-width: 768px) {
  .search-bar {
    width: 100vw;
  }
}

.soc-twitter, .soc-facebook, .soc-google {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto 20px auto;
}
@media (min-width: 768px) {
  .soc-twitter, .soc-facebook, .soc-google {
    margin: 20px;
  }
}

.social-text {
  margin-left: 100px;
}
.social-text h3 {
  margin: 0;
}
.social-text p {
  font-size: 2.5em;
  margin: 0;
}

.members h3 {
  margin-left: 30px;
}
.members-container {
  margin-bottom: 45px;
}
.members-text {
  display: inline-block;
  padding: 0;
}
.members-text p {
  padding-top: 15px;
  margin: 0;
}

.date {
  float: right;
  margin-top: 0px;
}

.message h2 {
  margin-bottom: 20px;
}

#find-user {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid gray;
  background-color: #fcfafa;
}

.text-area {
  border-radius: 3px;
  margin: 20px 0;
  background-color: #fcfafa;
}

.button {
  width: 100%;
  background-color: #7377bf;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 800;
}

.switch-light {
  margin: 20px;
}
@media (min-width: 768px) {
  .switch-light {
    margin-right: 300px;
  }
}
.switch-light strong {
  float: left;
}
.switch-light span {
  float: right;
}

.form-field {
  height: 50px;
  font-size: 1em;
}
@media (min-width: 768px) {
  .form-field {
    width: 555px;
    margin: 15px auto;
  }
}

.settings-button {
  display: flex;
}
.settings-button button {
  border: none;
  margin: 10px auto;
  padding: 15px 82px;
  border-radius: 5px;
  color: #fff;
}
@media (min-width: 768px) {
  .settings-button button {
    padding: 15px 100px;
  }
}
.settings-button .save {
  background-color: #7377bf;
  margin-right: 23px;
}
.settings-button .cancel {
  background-color: #b2b2b2;
  margin-left: 23px;
}

* {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 100;
  padding-left: 20px;
}

span {
  font-weight: 800;
}

h2 {
  padding: 0 20px;
  font-size: 1em;
  font-weight: bold;
}

.name {
  font-size: 1em;
  color: #fff;
}

.save, .cancel {
  font-size: 1em;
  font-weight: 900;
}

/*# sourceMappingURL=styles.css.map */
