.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }
}

header {
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  align-items: center;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
  padding: 12px;
}

main {
  grid-area: main;
  background-color: #fff;
  display: grid;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: 50%;
  }
}

.dashboard {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
}
.dashboard-header {
  padding: 0 20px;
}

.widget-container {
  width: 95vw;
}
@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
}

.traffic {
  background-color: #fff;
}
@media (min-width: 768px) {
  .traffic {
    grid-column: 1/span 2;
  }
}

.bar {
  background-color: #fff;
}
@media (min-width: 768px) {
  .bar {
    grid-column: 1/span 1;
  }
}

.donut {
  background-color: #fff;
}
@media (min-width: 768px) {
  .donut {
    grid-column: 2/span 1;
  }
}

.social {
  background-color: #fff;
}
@media (min-width: 768px) {
  .social {
    grid-column: 1/span 2;
    display: flex;
  }
}

.members {
  grid-column: 1/span 1;
}

.main-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 30px;
}

.members-container, .activity-container {
  padding-left: 20px;
}
.members-container img, .activity-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  float: left;
}

#bell {
  margin-left: 120px;
}
#bell .line {
  fill: #fff;
}

#dashboard, #members, #bell, #visits, #settings, #twitter, #google {
  height: 25px;
  width: 25px;
}

.vertical-line {
  height: 30px;
  border-left: 1px solid #505050;
  margin: 0 20px;
}

#search {
  padding: 10px;
  width: 130px;
  margin-top: 5px;
  border: 0.5px solid silver;
  border-radius: 5px;
  margin-left: 100px;
}

.search-bar {
  height: 100%;
  width: 80%;
  background-color: #ececec;
  border-left: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}

.soc-twitter, .soc-facebook, .soc-google {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto 20px auto;
}
@media (min-width: 768px) {
  .soc-twitter, .soc-facebook, .soc-google {
    margin: 20px;
  }
}

.social-text {
  margin-left: 100px;
}
.social-text h3 {
  margin: 0;
}
.social-text p {
  font-size: 2.5em;
  margin: 0;
}

.members h3 {
  margin-left: 30px;
}
.members-container {
  margin-bottom: 45px;
}
.members-text {
  display: inline-block;
  padding: 0;
}
.members-text p {
  padding-top: 15px;
  margin: 0;
}

.date {
  float: right;
  margin-top: 0px;
}

* {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 100;
  padding-left: 20px;
}

span {
  font-weight: 800;
}

h2 {
  padding: 0 20px;
  font-size: 1em;
  font-weight: bold;
}

.name {
  font-size: 1em;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
