.main-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 30px;
}

.members-container, .activity-container {
  padding-left: 20px;
}
.members-container img, .activity-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  float: left;
}

#bell {
  margin-left: 120px;
}
#bell .line {
  fill: #fff;
  transition-duration: 1s;
}
#bell:hover {
  cursor: pointer;
}
#bell:hover .line {
  fill: #000;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.alert-dot {
  height: 5px;
  width: 5px;
  background-color: #42d9ff;
  border-radius: 50%;
  margin-left: 20px;
}

#dashboard, #members, #bell, #visits, #settings {
  height: 25px;
  width: 25px;
}

nav svg {
  margin: 0 9%;
}
@media (min-width: 768px) {
  nav svg {
    margin: 10px 0;
    padding: 3px;
  }
}

header h1 {
  float: left;
}
header section {
  display: flex;
  align-items: center;
  padding-right: 5%;
  float: right;
}

.vertical-line {
  height: 30px;
  border-left: 1px solid #505050;
  margin: 0 20px;
}

.dropdown-style ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}
.dropdown-style ul li {
  position: relative;
  min-width: 95.734px;
  padding: 20px 60px 20px 50px;
  margin-bottom: 5px;
  background-color: #aeaddf;
  font-weight: 900;
  color: #fff;
  border-radius: 5px;
}
.dropdown-style ul li.remove {
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.dropdown-style ul li span {
  position: relative;
  top: -8px;
  left: 135%;
  color: #fff;
  font-weight: bold;
  line-height: 5px;
}
.dropdown-style ul li span:hover {
  cursor: pointer;
}

#dropdown {
  top: -100px;
  opacity: 0;
  position: absolute;
}
@media (min-width: 1024px) {
  #dropdown {
    right: 300px;
  }
}
#dropdown.show {
  transform: translateY(100px);
  opacity: 100%;
  transition-duration: 650ms;
  transition-timing-function: ease-out;
}

.search-area {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color: #ececec;
  border-bottom: 2px solid #dfdfdf;
  border-left: 2px solid #dfdfdf;
}
.search-area h2 {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  border-left: none;
}

#searchbar {
  flex-grow: 1;
  margin: 8px 10px 8px 0;
  border: 0.5px solid silver;
  border-radius: 5px;
  padding: 10px;
  max-width: 50%;
}
@media (min-width: 768px) {
  #searchbar {
    max-width: 60%;
  }
}

#alert {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 90%;
  background-color: #7377bf;
  border-radius: 2px;
}
#alert.inactive {
  opacity: 0%;
  transition-duration: 200ms;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  width: 100%;
}
.alert-banner p {
  margin: 0;
}
.alert-banner-close {
  padding: 10px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
@media (min-width: 768px) {
  .alert-banner {
    margin-right: 10px;
    margin-left: 30px;
  }
}

.traffic h2 {
  float: left;
  padding: 5px;
}

.traffic-header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .traffic-header ul {
    margin-right: 200px;
  }
}
.traffic-header ul li {
  padding: 5px 20px;
  font-weight: 600;
}
.traffic-header ul li:hover {
  cursor: pointer;
}

.active {
  display: block;
  padding-top: 25px;
  background-color: #81c98f;
  color: #fff;
  border-radius: 20px;
}

.social-content {
  margin: 0 20px;
}
@media (min-width: 1024px) {
  .social-content {
    flex-direction: row;
    display: flex;
    padding-bottom: 20px;
  }
}

.soc-icon {
  border-radius: 50%;
  background-color: #7377bf;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
.soc-twitter, .soc-facebook, .soc-google {
  display: flex;
  flex: 1 auto;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
}
@media (min-width: 768px) {
  .soc-twitter, .soc-facebook, .soc-google {
    margin: 20px;
  }
}

.social-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}
.social-text h3 {
  margin: 0;
}
.social-text p {
  font-size: 2.5em;
  margin: 0;
}

.members h3 {
  margin-left: 30px;
}
.members-container {
  margin-bottom: 40px;
  margin-right: 20px;
}
.members-text {
  display: inline-block;
  padding: 0;
}
.members-text p {
  padding-top: 15px;
  margin: 0;
}

.date {
  float: right;
  margin-top: 0px;
}

.activity-text {
  margin-bottom: 25px;
}
.activity-text p {
  padding-top: 10px;
}
.activity-text p:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 0;
}
.activity-text p:nth-child(2) {
  margin-top: 0;
  font-weight: 600;
  color: gray;
}

.message h2 {
  margin-bottom: 20px;
}

#find-user {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid gray;
  background-color: #fcfafa;
}

#auto-complete-items ul {
  border: 1px solid gray;
  padding-left: 0;
}
#auto-complete-items ul li {
  padding: 30px;
}

#text-area {
  border-radius: 3px;
  margin: 20px 0;
  background-color: #fcfafa;
}

.button {
  width: 100%;
  background-color: #7377bf;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 800;
}

.switch-light {
  margin: 10px 20px 22px;
}
@media (min-width: 768px) {
  .switch-light {
    margin-right: 135px;
  }
}
.switch-light strong {
  float: left;
}
.switch-light span {
  float: right;
}

.switch-buttons {
  max-width: 70px;
}

#timezone {
  height: 50px;
  font-size: 1em;
  width: 475px;
  margin: 15px auto;
}
@media (min-width: 768px) {
  #timezone {
    width: 550px;
  }
}

.settings-button {
  display: flex;
}
.settings-button button {
  border: none;
  margin: 10px auto;
  padding: 15px 0;
  border-radius: 5px;
  color: #fff;
  width: 43%;
}
@media (min-width: 768px) {
  .settings-button button {
    width: 44%;
  }
}
.settings-button .save {
  background-color: #7377bf;
  margin-right: 23px;
}
.settings-button .cancel {
  background-color: #b2b2b2;
  margin-left: 23px;
}

* {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 100;
  padding-left: 20px;
}

span {
  font-weight: 800;
}

h2 {
  padding: 0 20px;
  font-size: 1em;
  font-weight: bold;
}

.name {
  font-size: 1em;
  color: #fff;
}

.save, .cancel {
  font-size: 1em;
  font-weight: 900;
}

body {
  margin: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "navigation" "main";
}
@media (min-width: 768px) {
  #wrapper {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "navigation main";
  }
}

header {
  grid-area: header;
  background-color: #7477bf;
  align-items: center;
}

nav {
  grid-area: navigation;
  background-color: #4d4c72;
  padding: 12px 0;
}
@media (min-width: 768px) {
  nav {
    padding: 12px;
  }
}

main {
  grid-area: main;
  background-color: #fff;
  display: grid;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: 50%;
    grid-auto-columns: 50%;
  }
}

.dashboard {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .dashboard {
    grid-column: 1/span 2;
  }
}

.widget-container {
  width: 95vw;
}
@media (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
    position: relative;
  }
  .widget-container-half {
    width: 45vw;
    position: relative;
  }
}

.traffic {
  margin: 0 15px;
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: 2px solid #dfdfdf;
}
@media (min-width: 768px) {
  .traffic {
    grid-column: 1/span 2;
  }
}

.bar {
  margin: 0 15px;
  background-color: #fff;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .bar {
    grid-column: 1/span 1;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.donut {
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: 2px solid #dfdfdf;
}
@media (min-width: 768px) {
  .donut {
    grid-column: 2/span 1;
    border-left: 2px solid #dfdfdf;
    padding: 20px;
  }
}

.social {
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 2px solid #dfdfdf;
}
@media (min-width: 768px) {
  .social {
    grid-column: 1/span 2;
    padding: 20px;
  }
}

.members {
  border-bottom: 2px solid #dfdfdf;
}
@media (min-width: 768px) {
  .members {
    grid-column: 1/span 1;
    padding: 20px;
  }
}

.activity {
  border-bottom: 2px solid #dfdfdf;
}
@media (min-width: 768px) {
  .activity {
    grid-column: 2/span 1;
    border-left: 2px solid #dfdfdf;
    padding: 20px;
  }
}

.message {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 20px;
}
.message-container {
  display: flex;
  margin: 0 20px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .message {
    grid-column: 1/span 1;
    border-bottom: none;
    padding: 20px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .settings {
    grid-column: 2/span 1;
    border-left: 2px solid #dfdfdf;
    padding: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
