// Header content
header{
  h1 {
    float: left;
  }
  section {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    padding-right: 5%;
    float: right;

  }
}
.vertical-line {
  height: 30px;
  border-left: 1px solid rgb(80, 80, 80);
  margin: 0 20px;
}
// Dropdown
.dropdown-style {
  ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    li {
      position: relative;
      min-width: 95.734px;
      padding: 20px 40px;
      margin-bottom: 5px;
      background-color: #000;
      color: #fff;
      border-radius: 5px;
      &.remove {
        position: relative;
        opacity: 0;
        transform: translateY(-50px);
        transition-duration: 300ms;
        transition-timing-function: ease-in;
      }
      span{
        position: absolute;
        color: #fff;
        margin-left: 117px;
        font-weight: bold;
        line-height: 5px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

#dropdown {
  top: -100px;
  opacity: 0;
  @include mq($lg){
    right: 300px;
  }
  position: absolute;
  &.show{
    transform: translateY(100px);
    opacity: 100%;
    transition-duration: 650ms;
    transition-timing-function: ease-out;
  }
}
// Dashboard content
.search-area {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color:rgb(236, 236, 236);
  border-bottom: $border;
  border-left: $border;
  h2 {
    background-color: #fff;
    padding: 20px;
    margin: 0;
    border-left: none;
  }
}

#searchbar {
  flex-grow: 1;
  margin: 8px 10px 8px 0;
  border: 0.5px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 10px;
  max-width: 50%;
  @include mq($md){
    max-width: 60%;
  }

}

#alert{
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 90%;
  background-color: $main;
  border-radius: 2px;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  width: 100%;
  p{
    margin: 0;
  }
  &-close {
    padding: 10px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
  }
  @include mq($md){
    margin-right: 10px;
    margin-left: 30px;
  }
}

// Traffic content

.traffic-header {
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include mq($md){
      margin-right: 200px;
    }
    li {
      padding: 0 20px;
      font-weight: 600;
    }
  }
}
.active {
  display: block;
  padding-top: 25px;
  background-color: green;
  color: #fff;
  border-radius: 10px;
}
// Social content
.social-content {
  margin: 0 20px;
  
  @include mq($lg){
    flex-direction: row;
    display: flex;
    padding-bottom: 20px;
  }
}
.soc {
  &-icon {
    border-radius: 50%;
    background-color: $main;
    height: 50px;
    width: 50px;
    margin-top: 10px;

  }
  &-twitter, &-facebook, &-google{
    display: flex;
    flex: 1 auto;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
 
    @include mq($md) {
      margin: 20px;
    }
  }
}
.social-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  h3{
    margin: 0;
  }
  p{
    font-size: 2.5em;
    margin: 0;
  }
}

// Members content
.members { 
  h3 {
    margin-left: 30px;
  }

  &-container {
    margin-bottom: 40px;
    margin-right: 20px;
  }

  &-text {
    display: inline-block;
    padding: 0;

    p {
      padding-top: 15px;
      margin: 0;
    }
  }
}

.date {
  float: right;
  margin-top: 0px;
}

// message content
.message h2 {
  margin-bottom: 20px;
}

#find-user{
  border-radius: 3px;
  padding: 10px;
  border: 1px solid gray;
  background-color: rgb(252, 250, 250);
}
#text-area {
  border-radius: 3px;
  margin: 20px 0;
  background-color: rgb(252, 250, 250);
}
.button {
  width: 100%;
  background-color:	#7377bf;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 800;
 
}
// settings content
.switch-light{
  margin: 20px;
  @include mq($md){
    margin-right: 300px;
  }
  strong{
    float: left;
  }
  span{
    float: right;
  }
}

#timezone { 
  height: 50px;
  font-size: 1em;
  width: 475px;
  margin: 15px auto;
  @include mq($md){
    width: 550px;
  }
}

.settings-button{
  display: flex;
  button{
    border: none;
    margin: 10px auto;
    padding: 15px 0;
    border-radius: 5px;
    color: #fff;
    width: 43%;
    @include mq($md){
      width: 44%;
    }
  }
  .save {
    background-color: $main;
    margin-right: 23px;

  }
  .cancel {
    background-color: #b2b2b2;
    margin-left: 23px;
  }
}