// Header content
header{
  h1 {
    float: left;
  }
  section {
    display: flex;
    align-items: center;
    padding-right: 5%;
    float: right;

  }
}

.vertical-line {
  height: 30px;
  border-left: 1px solid rgb(80, 80, 80);
  margin: 0 20px;
}

// Bell notification dropdown
.dropdown-style {
  ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    li {
      position: relative;
      min-width: 95.734px;
      padding: 20px 60px 20px 50px;
      margin-bottom: 5px;
      background-color: #aeaddf;
      font-weight: 900;
      color: #fff;
      border-radius: 5px;
      &.remove {
        position: relative;
        opacity: 0;
        transform: translateY(-50px);
        transition-duration: 300ms;
        transition-timing-function: ease-in;
      }
      span{
        position: relative;
        top: -15px;
        left: 135%;
        color: #fff;
        font-weight: bold;
        line-height: 5px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

#dropdown {
  top: -100px;
  opacity: 0;
  @include mq($lg){
    right: 300px;
  }
  position: absolute;
  &.show{
    transform: translateY(100px);
    opacity: 100%;
    transition-duration: 650ms;
    transition-timing-function: ease-out;
  }
}
// Dashboard content
.search-area {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color:rgb(236, 236, 236);
  border-bottom: $border;
  border-left: $border;
  h2 {
    background-color: #fff;
    padding: 20px;
    margin: 0;
    border-left: none;
  }
}

#searchbar {
  flex-grow: 1;
  margin: 8px 10px 8px 0;
  border: 0.5px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 10px;
  max-width: 50%;
  @include mq($md){
    max-width: 60%;
  }
}

#alert{
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 90%;
  background-color: $main;
  border-radius: 2px;

  &.inactive {
    opacity: 0%;
    transition-duration: 200ms;
  }
}

.alert-banner {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  width: 100%;
  p{
    margin: 0;
  }
  &-close {
    padding: 10px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
  }

  @include mq($md){
    margin-right: 10px;
    margin-left: 30px;
  }
}

// Traffic content
.traffic h2{
  float: left;
  padding: 5px;
}

.traffic-header {
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include mq($md){
      margin-right: 200px;
    }
    li {
      padding: 5px 20px;
      font-weight: 600;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
.active {
  display: block;
  padding-top: 25px;
  background-color: #81c98f;
  color: #fff;
  border-radius: 20px;
}
// Social content
.social-content {
  margin: 0 20px;
  
  @include mq($lg){
    flex-direction: row;
    display: flex;
    padding-bottom: 20px;
  }
}
.soc {
  &-icon {
    border-radius: 50%;
    background-color: $main;
    height: 50px;
    width: 50px;
    margin-top: 10px;

  }
  &-twitter, &-facebook, &-google{
    display: flex;
    flex: 1 auto;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
 
    @include mq($md) {
      margin: 20px;
    }
  }
}
.social-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  h3{
    margin: 0;
  }
  p{
    font-size: 2.5em;
    margin: 0;
  }
}

// Members content
.members { 
  h3 {
    margin-left: 30px;
  }

  &-container {
    margin-bottom: 40px;
    margin-right: 20px;
  }

  &-text {
    display: inline-block;
    padding: 0;

    p {
      padding-top: 15px;
      margin: 0;
    }
  }
}

.date {
  float: right;
  margin-top: 0px;
}

.activity-text {
  margin-bottom: 25px;
  p{
    padding-top: 10px;
    &:nth-child(1){
      margin-top: 20px;
      margin-bottom: 0;
    }
    &:nth-child(2){
      margin-top: 0;
      font-weight: 600;
      color: gray;
    }
  }
}

// message content
.message h2 {
  margin-bottom: 20px;
}
