.soc{
  &-twitter, &-facebook, &-google{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto 20px auto;
  }
}
.social-text {
  margin-left: 100px;
  h3{
    margin: 0;
  }
  p{
    font-size: 2.5em;
    margin: 0;
  }
}
.messages h3{
  margin-left: 20px;
}