// grid sections
body {
  margin: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "navigation"
    "main";

  @include mq($md) {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
}

header {
  grid-area: header;
  background-color: #7477bf;
  align-items: center;
}

nav {
  grid-area: navigation;
  background-color: #4d4c72;
  padding: 12px 0;
  @include mq($md){
    padding: 12px;
  }
}

main {
  grid-area: main;
  background-color: #fff;
  display: grid;
  @include mq($md){
    grid-template-columns: 50%;
    grid-auto-columns: 50%;
  }
}

.dashboard {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  @include mq($md){
    grid-column: 1 / span 2;
  }
}


.widget-container {
  width: 95vw;
  @include mq($md) {
    &-full {
      width: 90vw;
      position: relative;
    }
    &-half {
      width: 45vw;
      position: relative;
    }
  }
}

.traffic {
  margin: 0 15px;
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: $border;
  @include mq($md) {
    grid-column: 1 / span 2;
  }
}

.bar {
  margin: 0 15px;
  background-color: #fff;
  border-bottom: $border;
  padding-bottom: 20px;
  @include mq($md) {
    grid-column: 1 / span 1;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.donut {
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: $border;
  @include mq($md) {
    grid-column: 2 / span 1;
    border-left: $border;
    padding: 20px;
  }
}

.social {
  padding-top: 10px;
  background-color: #fff;
  border-bottom: $border;
  @include mq($md) {
    grid-column: 1 / span 2;
    padding: 20px;
  }
}

.members {
  border-bottom: $border;
  @include mq($md){
    grid-column: 1 / span 1;
    padding: 20px;
  }
}
.activity {
  border-bottom: $border;
  @include mq($md){
    grid-column: 2 / span 1;
    border-left: $border;
    padding: 20px;
  }
}

.message {
  border-bottom: $border;
  padding-bottom: 20px;

  &-container{
    display: flex;
    margin: 0 20px;
    flex-direction: column;
  }
  @include mq($md){
    grid-column: 1 / span 1;
    border-bottom: none;
    padding: 20px;
  }
}
.settings {
  display: flex;
  flex-direction: column;
  @include mq($md){
    grid-column: 2 / span 1;
    border-left: $border;
    padding: 20px;
  }
}







