.member {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.members{
  list-style: none;
  padding-left: 20px;
  li img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
  }
}