#bell {
  .line {
    fill: #fff;
  }
  margin-left: 120px;
}

#dashboard, #members, #bell, #visits, #settings, #twitter, #google{
  @include icon;
}

nav svg {
  margin: 0 9%;
  @include mq($lg){
    margin: 10px 0;
    padding: 3px;
  }
}
