$icon-size: 25px;

// media query screen sizes
$sm: 321px;
$md: 768px;
$lg: 1024px;

// colors
$main: 	#7377bf;
$secondary: #4d4c72;
$donut-one: #7377bf;
$donut-two: #81c98f;
$donut-three: #74b1bf;

// border
$border: 2px solid #dfdfdf;
